In [1]:
import pandas as pd

In [2]:
# Ryan's work

# Read in csv
df_visitors = pd.read_csv('wh_visitor_logs.csv')
visitors = df_visitors["Attendees"]

# Drop NaN values
visitors = visitors.dropna(how='any')
visitors_df = pd.DataFrame(visitors) 

# Drop redacted - (b)(6) - visitors
named_visitors = visitors_df.loc[visitors_df["Attendees"] != "(b)(6)", :]

# Explode attendee column
visitors_df2 = named_visitors["Attendees"].str.split(",", n=13, expand = True)
visitors_df3 = named_visitors["Attendees"].str.split(",", n=2, expand = True)

# Retain only first visitor
del visitors_df3[1]
del visitors_df3[2]
visitors_df3.rename(columns={0 :'name'}, inplace=True )
visitors_df3.set_index('name')

# Delete any duplicate visitors
visitors_df3.drop_duplicates(keep=False, inplace=True)
visitors_df3

                     name
1         Padmaja Vempaty
3             Judy Garber
5      Joseph D. Cecchini
12        Michael Michael
16        Martin Jeffries
...                   ...
8772            Nek Pratt
8773                 List
8785       Monique Ricker
8803  Stephanie Manschein
8804   Jillian Neurberger

[3078 rows x 1 columns]

In [3]:
# Ryan's work

# Read in csv 
df_cats = pd.read_csv('fatcats.csv')

# Remove unnecessary variables and set index
del df_cats['id']
del df_cats['blurb']
del df_cats['types']
df_cats.set_index('name')

# Read in csv
df_lobs = pd.read_csv('lobbyists.csv')

# Remove unnecessary variables and set index
del df_lobs['id']
del df_lobs['blurb']
del df_lobs['types']
df_lobs.set_index('name')

# Append lobbyist list to fat cat list and ensure no duplicates
df_catslobs = df_cats.append(df_lobs, ignore_index=True)
df_catslobs.set_index('name')
df_catslobs.drop_duplicates(keep=False, inplace=True)
df_catslobs

                      name
0              Andrew Beal
1            Barron Hilton
2             Bruce Kovner
3     Cargill MacMillan Jr
4             Carl C Icahn
..                     ...
303         Waldo McMillan
304        Weston J Coulam
305  William F Sweetnam Jr
306       William McKenney
307             Zahra Buck

[308 rows x 1 columns]

In [4]:
tweets=pd.read_csv('archive_test.csv')
tweet_text=list(tweets.text.unique())

In [5]:
dict_={}

In [6]:
def search(name):
    dict_=dict()
    for i in tweet_text:
        if str(i).find(name)>0:
            dict_.setdefault(name, []).append(i)

In [7]:
cats=list(df_catslobs.name.unique())
visitors=list(visitors_df3.name.unique())

In [8]:
for name in cats:
    dict_0=dict_
    search(name)

In [9]:
dict_0.get('Steve Wynn')

In [10]:
def getList(dict_0): 
    return dict_0.keys()
print(getList(dict_0))

dict_keys([])

In [11]:
for name in visitors:
    dict_1=dict_
    search(name)

KeyboardInterrupt:

In [ ]:
def getList(dict_1): 
    return dict_1.keys()
print(getList(dict_1))